<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
</p>

<%= link_to 'Back', cocktails_path %>
</div>
